<html>

<head>
  <title>Tasklist</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- All the web compoent neat stuff -->
  <script src="/external/jquery.min.js"></script>
  <script src="/external/handlebars.js"></script>
  <script src="/external/web-component.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js" type="text/javascript"></script>

  <!-- All the boostrap theming -->
  <link rel="stylesheet" href="/external/bootstrap.min.css">
  <script src="/external/bootstrap.min.js"></script>

  <!-- Markdown support -->
  <script src="/external/marked.min.js"></script>

  <!-- Code highlighting support -->
  <link rel="stylesheet" href="/external/github.min.css">
  <script src="/external/highlight.min.js"></script>

  <!-- Web Components -->


  <!-- D3 and C3 Graphing -->
  <script src="/external/d3.min.js"></script>
  <link rel="stylesheet" href="/external/c3.min.css">
  <script src="/external/c3.min.js"></script>

  <!--[if lt IE 9]>
    <script src="/external/html5shiv.min.js"></script>
    <script src="/external/respond.min.js"></script>
  <![endif]-->
  <style type="text/css">
    .jqstooltip {
      position: absolute;
      left: 0px;
      top: 0px;
      visibility: hidden;
      background: rgb(0, 0, 0) transparent;
      background-color: rgba(0, 0, 0, 0.6);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
      color: white;
      font: 10px arial, san serif;
      text-align: left;
      white-space: nowrap;
      padding: 5px;
      border: 1px solid white;
      z-index: 10000;
    }

    .jqsfield {
      color: white;
      font: 10px arial, san serif;
      text-align: left;
    }
  </style>
</head>

<body role="document">

  <navigation webcomponentid="navigation-1" rendered="true">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <product-title webcomponentid="product-title-4" rendered="true">Tasklist</product-title>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Content <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/">Index</a></li>
                <li class="divider"></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Server <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/docs/api">API</a></li>
                <li class="divider"></li>
                <li><a href="/docs/create-your-own">Create your own</a></li>

                <li><a href="/docs/component-showcase">Component Showcase</a></li>

                <li><a href="/docs/custom-components-guide">Custom Components Guide</a></li>

                <li><a href="/docs/custom-api-endpoint-guide">Custom API Endpoint Guide</a></li>
                <li class="divider"></li>
                <li><a href="/docs/credits">Credits</a></li>

              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- No content here yet -->
          </ul>
          <form class="navbar-form navbar-right">
            <a href="/docs/status">
              <monitor-status data-source-url="/api/monitorStatus" webcomponentid="monitor-status-3" rendered="true">
                <button type="button" class="btn btn-success">
                  <span class="glyphicon glyphicon-dashboard"></span>
                  <span>Monitor Status</span>
                </button>
              </monitor-status>
            </a>
            <authentication data-source-url="/auth/status" webcomponentid="authentication-3" rendered="true">

            </authentication>
          </form>
        </div>
      </div>
    </nav>
  </navigation>

  <div id="jumbotron">
    <jumbotron webcomponentid="jumbotron-1" rendered="true">
      <div class="jumbotron">
        <div class="container">
          <h1><product-title webcomponentid="product-title-3" rendered="true">Tasklist</product-title> Dashboard</h1>

          <h2>Welcome to the tasklist!</h2>
        </div>
      </div>
    </jumbotron>
  </div>

  <div class="container theme-showcase" role="main">
    <!-- Start of Page Fragment -->



    <tasklist data-source-url="/api/tasks/list" webcomponentid="tasklist-1" rendered="true">
      <p>Description: Superbowl Party at Alan and Sophie's</p>
      <p>Date and Time: Sunday evening</p>
      <p>Recorded: 1486589772496</p>
    </tasklist>




    <!-- End of Page Fragment -->


  </div>

  <span class="component templates">


<script type="text/javascript">
    $(function() {
        var AuthComponent = Component.configure("authentication");

        var metaDataProcessors = {
            rolesRequired: rolesRequiredMetaDataProcessor
        };

        function rolesRequiredMetaDataProcessor(instance, $el) {
            var requiredRoles = $el.attr('content').split(',');
            var userRoles = instance.data.roles || [];
            if (requiredRoles.length > 0 && arrayContainsOneOf(userRoles, requiredRoles) === false) {
                // Redirect if the user doesn't have the correct role
                var redirectPath = (instance.data.user) ? '/docs/user-details' : '/auth/login-broker?redirect=' + window.location.pathname;

                window.location = redirectPath;
            }
        }

        function arrayContainsOneOf(array, values) {
            for (var i = 0; i < values.length; i++) {
                var value = values[i];
                if (array.indexOf(value) !== -1) {
                    return true;
                }
            }
            return false;
        }

        AuthComponent.on('preRenderStep', function(instance) {
            if (instance.data) {
                $('meta').each(function(i, el) {
                    var $el = $(this);
                    var name = $el.attr('name');
                    var metaDataProcessor = metaDataProcessors[name] || function(instance, $el) {};
                    metaDataProcessor(instance, $el);
                });
            }
        });

        AuthComponent.apply(function(instance) {
            instance.render();
        });
    });
</script>



<script type="text/javascript">
$(function() {
  var replaceHtmlEntities = function(content) {
    return String(content).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
  }
  var replaceEntitiesWithHtml = function(content) {
    return String(content).replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '"');
  }

  $('pre[code], code').html(function() {
    var innerHTML = this.innerHTML.toString();
    return replaceHtmlEntities(this.innerHTML.toString());
  });

  var CodeComponent = Component.configure("code");

  CodeComponent.on('preRenderStep', function(instance) {
    if(typeof hljs !== "undefined") {
      // Use code highlighting with highlight.js
      var code = replaceEntitiesWithHtml(instance.content);
      code = code.replace(/template-example/g, 'template');
      instance.code = hljs.highlightAuto(code).value;
    }
    else {
      // Replace out odd characters from inside <code> blocks
      instance.code = replaceHtmlEntities(instance.content);
    }
  });

  CodeComponent.apply(function(instance) {
    instance.render();
  });

});
</script>




<style for="c3-donut">
    c3-donut {
        display: inline-block;
        width: 400px;
        height: 400px;
    }

    c3-donut .c3-chart-arcs-title {
        font-size: 2.1em;
    }
</style>

<script for="c3-donut">
    $(function() {
        var C3DonutComponent = Component.configure("c3-donut");

        C3DonutComponent.on('renderComplete', function(instance) {

            /* Example data */
            instance.data = instance.data || {
                columns: [
                    ["setosa", 0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2, 0.2, 0.1, 0.1, 0.2, 0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.4, 0.2, 0.5, 0.2, 0.2, 0.4, 0.2, 0.2, 0.2, 0.2, 0.4, 0.1, 0.2, 0.2, 0.2, 0.2, 0.1, 0.2, 0.2, 0.3, 0.3, 0.2, 0.6, 0.4, 0.3, 0.2, 0.2, 0.2, 0.2],
                    ["versicolor", 1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7, 1.5, 1.0, 1.1, 1.0, 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2, 1.4, 1.2, 1.0, 1.3, 1.2, 1.3, 1.3, 1.1, 1.3],
                    ["virginica", 2.5, 1.9, 2.1, 1.8, 2.2, 2.1, 1.7, 1.8, 1.8, 2.5, 2.0, 1.9, 2.1, 2.0, 2.4, 2.3, 1.8, 2.2, 2.3, 1.5, 2.3, 2.0, 2.0, 1.8, 2.1, 1.8, 1.8, 1.8, 2.1, 1.6, 1.9, 2.0, 2.2, 1.5, 1.4, 2.3, 2.4, 1.8, 1.8, 2.1, 2.4, 2.3, 1.9, 2.3, 2.5, 2.3, 1.9, 2.0, 2.3, 1.8],
                ],
                title: 'Sample Donut'
            };

            var title = instance.content || instance.data.title;
            var colors = (instance.colors || '#1f77b4,#aec7e8,#ff7f0e,#ffbb78,#2ca02c,#98df8a,#d62728,#ff9896,#9467bd,#c5b0d5,#8c564b,#c49c94,#e377c2,#f7b6d2,#7f7f7f,#c7c7c7,#bcbd22,#dbdb8d,#17becf,#9edae5').split(',');
            var chart = initialiseChart(instance, instance.data, title, colors);
        });

        function initialiseChart(instance, data, title, colors) {
            instance.chart = c3.generate({
                bindto: instance.element,
                data: {
                    columns: data.columns || [],
                    type: 'donut',
                    onclick: function(d, i) {
                        console.log("onclick", d, i);
                    },
                    onmouseover: function(d, i) {
                        console.log("onmouseover", d, i);
                    },
                    onmouseout: function(d, i) {
                        console.log("onmouseout", d, i);
                    }
                },
                donut: {
                    title: title
                },
                color: {
                    pattern: colors
                }
            });

            return instance.chart;
        }

        C3DonutComponent.apply(function(instance) {
            instance.render();
        });
    });
</script>




<style for="edit-page-link">
    edit-page-link {
        position: absolute;
        top: 60px;
        right: 10px;
    }
</style>


<!-- Fixed navbar -->



<!-- Utility template for getting content as HTML and rendering to the screen -->








<script type="text/javascript">
$('jumbotron').appendTo('#jumbotron');
</script>




<style for="markdown">
markdown {
  white-space: pre;
  display: block;
  unicode-bidi: embed;
}
markdown[rendered] {
  white-space: normal;
}
markdown > table {
  border-spacing: 1px;
  border-collapse: separate;
  margin: 0 0 10px;
}

markdown > table > thead > tr > th {
  padding: 6px;
}

markdown > table > tbody > tr > td {
  padding: 6px;
}
</style>

<script type="text/javascript">
$(function() {
  var MarkdownComponent = Component.configure("markdown");

  MarkdownComponent.on('preRenderStep', function(instance) {
    if(typeof marked === "undefined") {
      var suggestedCDN = "https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js";
      marked = function() {
        return 'This markdown component requires the JavaScript marked library, please include the following into your page: ' + suggestedCDN;
      }
    }

    instance.markdown = marked(instance.content);
  });

  MarkdownComponent.on('renderComplete', function(instance) {
    $('pre', instance.element).addClass('hljs');
  });

  MarkdownComponent.apply(function(instance) {
    instance.render();
  });
});

</script>




<script type="text/javascript">
$(function() {

  var MonitorStatus = Component.configure("monitor-status");

  MonitorStatus.prototype.serverAgeInSeconds = 0;
  MonitorStatus.prototype.clientHash = false;
  MonitorStatus.prototype.serverHash = false;
  MonitorStatus.prototype.glyphIcon = 'dashboard';

  MonitorStatus.prototype.reportRestartThenRestart = function() {
    this.dataSourceStatus = "Monitor server has restarted, updating client shortly.";

    setTimeout(function() {
      location.reload(true);
    }, 1500);
  }

  MonitorStatus.on('preRenderStep', function() {
    this.serverHash = this.serverHash || false;

    if(this.dataSourceError !== false) {
      this.alertType = "danger";
    }
    else if(this.clientHash == false) {
      this.clientHash = this.serverHash || false;
      this.alertType = "info";
    }
    else if(this.clientHash && this.clientHash != this.serverHash) {
      this.alertType = "warning"
      this.reportRestartThenRestart();
    }
    else {
      this.alertType = "success";
    }
  });
});
</script>


<style for="navigation">
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
</style>








<style for="octo-credits" and="octo-credits-key">
  span.octo-credits-name { margin: 0 10px; }
  span.badge.octo-credits-commits { background-color: white; color: #337ab7; }
  span.badge.octo-credits-additions { background-color: black; color: white; }
  span.badge.octo-credits-deletions { background-color: green; color: white; }
  a.octo-credits-link { text-decoration: none; }
  button.octo-credits-button { margin-bottom: 5px; }
  octo-credits-key > div.well { display: inline-block; padding: 12px; }
</style>


<!--
<post-button post-url="/api/postMirror" result-target="output">I can post things?</post-button>
<div id="output"></div>
-->



<script for="post-button">
    $(function() {
        var PostButtonComponent = Component.configure('post-button');

        function copyElementProperties(elem, target) {
            for (var i = 0; i < elem.attributes.length; i++) {
                var attrib = elem.attributes[i];
                if (attrib.specified) {
                    target[attrib.name] = attrib.value;
                }
            }
        }

        function createAttributePropertiesOn(elem, properties) {
            for (var property in properties) {
                elem.setAttribute(property, JSON.stringify(properties[property]));
            }
        }

        function registerClick(instance) {
            $(instance.element).click(function() {
                postDataFrom(instance);
                return false;
            });
        }

        function postDataFrom(instance) {
            copyElementProperties(instance.element, instance);
            $(instance.element).unbind("click")
                .attr('disabled', 'disabled')
                .attr('button-type', 'default');
            $('button', instance.element).addClass('disabled');

            var postUrl = instance['post-url'] || false;
            var dataType = instance['data-type'] || 'html';
            var resultTarget = instance['result-target'] || false;

            if (postUrl) {
                console.log("Posting to: ", postUrl);
                var postData = {};
                copyElementProperties(instance.element, postData);
                $.post(postUrl, postData, null, dataType).done(function(body) {
                    if (resultTarget) {
                        var targetElement = document.getElementById(resultTarget);
                        if (targetElement) {
                            console.log("Post response body written to target in DOM: ", resultTarget);
                            targetElement.innerHTML = body;
                            Component.scanForComponents(targetElement);
                        } else {
                            console.log("Specified result-target could not be found in DOM: ", resultTarget);
                        }
                    } else {
                        console.log("No result-target specified to assign data to.");
                    }
                    // Mark as a success
                    instance.postSuccess = true;
                    instance.disabled = true;
                    instance['button-type'] = 'success';
                    instance.render();
                }).fail(function(error) {
                    console.log("Post request failed", error);
                    // Re-render
                    instance.postSuccess = false;
                    instance.disabled = false;
                    instance.render();
                });
            }
        }

        PostButtonComponent.on('renderComplete', function(instance) {
            if (!instance.postSuccess) {
                registerClick(instance);
            }
        });

        PostButtonComponent.apply(function(instance) {
            instance.render();
        });
    });
</script>

<style for="post-button">
    post-button {
        display: inline-block;
    }
</style>






<script type="text/javascript" src="/external/jquery.sparkline.min.js"></script>

<!-- Types:
* line
* bar
* tristate
* discrete
* bullet
* pie
* box
-->


<!-- Common options
http://omnipotent.net/jquery.sparkline/#s-docs
-->

<script for="sparkline" type="text/javascript">
    $(function() {
        SparklineComponent = Component.configure('sparkline');

        SparklineComponent.on('renderComplete', function(instance) {
            // Map attributes to properties, non-exhaustive...
            var config = {
                enableTagOptions: true,
                tagOptionPrefix: 'spark',
            };
            $(instance.element).sparkline('html', config);
        });

        SparklineComponent.apply(function(instance) {
            instance.render();
        });
    });
</script>




<style for="status-button">
    status-button {
        margin: 2px 0;
        display: inline-block;
    }

    status-button > a {
        text-decoration: none;
    }

    status-button > a > button {
        white-space: normal;
    }
</style>

<script type="text/javascript">
    $(function() {

        var StatusButton = Component.configure("status-button");

        function rd(number) {
            return Math.round(number / 100) * 100;
        }

        function selectAlertType(statusCode, error) {
            var result = false;
            var severity = rd(statusCode);
            if (error) {
                result = ({
                    "510": 'default',
                    "400": 'warning',
                    "404": 'danger'
                })[severity] || 'danger';
            } else {
                result = ({
                    "0": 'info',
                    "100": 'primary',
                    "200": 'success',
                    "300": 'info',
                    "400": 'danger',
                    "404": 'danger',
                    "500": 'warning'
                })[severity] || 'danger';
            }
            return result;
        }

        function selectGlyphIcon(statusCode, error) {
            return ({
                "0": 'time',
                "100": 'tint',
                "200": 'heart',
                "300": 'random',
                "400": 'cog',
                "404": 'fire',
                "500": 'cloud',
                "502": 'unchecked',
                "5000": 'warning-sign'
            })[statusCode] || false;
        }

        function selectDisplayState(instance) {
            var statusCode = (instance.summary && instance.summary.statusCode) || 5000;
            var errorState = (instance.summary && instance.summary.error) || null;
            instance.glyphIcon = selectGlyphIcon(statusCode, errorState) || selectGlyphIcon(rd(statusCode), errorState) || "question-sign";
            instance.alertType = selectAlertType(statusCode, errorState);
        }

        StatusButton.prototype.generateSparklineData = function(records) {
            if (!records) {
                return;
            }

            var values = [4, 3, 2, 1, 0, null];
            var keyLength = values.length;

            // Fill the array with at least 10 items
            for (var i = 0; i < 10; i++) {
                values[keyLength + i] = 0;
            }

            var count = 0;
            records.forEach(function(item) {
                var severity = rd(item.statusCode) / 100;

                // Fill the array backwards from 10
                var index = keyLength + (10 - records.length) + count;
                values[index] = severity;
                count++;
            });

            return values;
        }

        StatusButton.prototype.generateSparklineColorMap = function(records) {
            if (!records) {
                return;
            }

            var keyColor = '#AC90AD';
            var values = [keyColor, keyColor, keyColor, keyColor, keyColor, null];
            var keyLength = values.length;

            // Fill the array with at least 10 items
            for (var i = 0; i < 10; i++) {
                values[keyLength + i] = '#fff';
            }

            var count = 0;
            records.forEach(function(item) {
                var severity = rd(item.statusCode);
                var color = ({
                    "0": '#fff',
                    "100": '#111',
                    "200": '#fff',
                    "300": '#333',
                    "400": '#444',
                    "500": '#555'
                })[severity]

                // Fill the array backwards from 10
                var index = keyLength + (10 - records.length) + count;
                values[index] = color;
                count++;
            });

            return values;
        }

        StatusButton.on('preRenderStep', function() {
            selectDisplayState(this);
            this.linkUrl = '/docs/status-details?url=' + encodeURIComponent(this.dataSourceUrl) + '&content=' + encodeURIComponent(this.content);
            if (this.records) {
                this.sparklineValues = this.generateSparklineData(this.records).join(',');
                this.sparklineColorMap = '[' + this.generateSparklineColorMap(this.records).join(',') + ']';
            }
        });

    });
</script>




<style for="status-checker">
    span.status-description {
        font-size: 150%;
        font-weight: bold;
        vertical-align: middle;
    }

    button.status-checker {
        margin-right: 5px;
    }

    status-checker div > a {
        text-decoration: none;
    }
</style>

<script type="text/javascript">
    $(function() {
        var StatusChecker = Component.configure("status-checker");

        function rd(number) {
            return Math.round(number / 100) * 100;
        }

        function selectAlertType(statusCode, error) {
            var result = false;
            var severity = rd(statusCode);
            if (error) {
                result = ({
                    "510": 'default',
                    "400": 'warning',
                    "404": 'danger'
                })[severity] || 'danger';
            } else {
                result = ({
                    "0": 'info',
                    "100": 'primary',
                    "200": 'success',
                    "300": 'info',
                    "400": 'danger',
                    "404": 'danger',
                    "500": 'warning'
                })[severity] || 'danger';
            }
            return result;
        }

        function selectGlyphIcon(statusCode, error) {
            return ({
                "0": 'time',
                "100": 'tint',
                "200": 'heart',
                "300": 'random',
                "400": 'cog',
                "404": 'fire',
                "500": 'cloud',
                "502": 'unchecked',
                "5000": 'warning-sign'
            })[statusCode] || false;
        }

        function selectDisplayState(instance) {
            var statusCode = (instance.summary && instance.summary.statusCode) || 5000;
            var errorState = (instance.summary && instance.summary.error) || null;
            instance.glyphIcon = selectGlyphIcon(statusCode, errorState) || selectGlyphIcon(rd(statusCode), errorState) || "question-sign";
            instance.alertType = selectAlertType(statusCode, errorState);
        }

        StatusChecker.on('preRenderStep', function() {
            selectDisplayState(this);
            this.linkUrl = '/docs/status-details?url=' + encodeURIComponent(this.dataSourceUrl) + '&content=' + encodeURIComponent(this.content);
        });
    });
</script>

    </span>




</body>

</html>
